html,body,#app{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 12px;
	background: #eee;
}
.layout{
    padding: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
