@font-face {font-family: "iconfont";
  src: url('../font/iconfont.ttf') format('truetype'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wancheng:before { content: "\e63e"; }

.icon-fanqie:before { content: "\e694"; }

.icon-weiwanchengrenwu:before { content: "\e65d"; }

.icon-rili:before { content: "\e615"; }

